 #nav_menu ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: black;
}
 #nav_menu li {
     float: left;
}
 #nav_menu li a.active {
     color: #9c261f;
}
 #nav_menu li a {
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
 #nav_menu li a:hover, .dropdown:hover {
     background-color: grey;
}
 #nav_menu li.dropdown {
     display: inline-block;
}
 #nav_menu .dropdown-content {
     display: none;
     position: absolute;
     background-color: black;
     min-width: 160px;
     z-index: 1;
}
 #nav_menu .dropdown-content a {
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: center;
}
 #nav_menu .dropdown-content a:hover {
     background-color: grey;
}
 #nav_menu .dropdown:hover .dropdown-content {
     display: block;
}
 body {
     font-family: sans-serif;
     width: 85%;
     background-color: #ffffff;
     border: 4px solid black;
     box-shadow: 0px 0px 25px 14px rgba(0,0,0,0.75);
     margin: 0 auto;
     font-size: 18px;
}
 header img {
     float: left;
}
 h1 {
     font-size: 35px;
     padding: 0 12px;
}
 h1::first-letter {
     font-size: 65px;
}
 h2 {
     font-size: 35px;
}
 h3 {
     font-size: 25px;
}
 header h2:first-of-type {
     text-indent: 20px;
     padding: 0px;
     margin: 0px;
}
 header h3:first-of-type {
     text-indent: 20px;
     padding: 0px;
     margin: 0px;
}
 section a:link, a:visited {
     color: #9c261f;
     font-weight: bold;
}
 a:hover, a:active {
     color: green;
}
 #nav_side ul {
     float: left;
     list-style-type: none;
     margin: 8px;
     padding: 0;
     background-color: #d3d3d3;
     border: 1px solid #000;
}
 #nav_side li a.active {
     color: #9c261f;
}
 #nav_side li a {
     display: block;
     color: #000;
     margin: 0;
     padding: 8px;
     text-decoration: none;
     border-bottom: 1px solid #000;
}
 #nav_side li a:hover {
     background-color: #555;
     color: white;
}

 header {
     border-bottom: 2px solid black;
     background: linear-gradient(45deg, white, #9c261f 75%, black);
     padding: 15px;
     margin: 0px;
}
 section {
     margin-left: 160px;
}
 footer {
     clear: both;
     font-size: 12px;
     text-align: center;
     border-bottom: 2px solid black;
     background: linear-gradient(45deg, black, #9c261f 25%, white);
}
 
